[submodule "user_kernel_interface"]
	path = user_kernel_interface
	url = https://github.com/df9ry/user_kernel_interface.git
[submodule "mapc"]
	path = mapc
	url = https://github.com/df9ry/mapc.git
[submodule "stringc"]
	path = stringc
	url = https://github.com/df9ry/stringc.git
